#map-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 300px;
}

#map {
    position: relative;
    height:100%;
    width: 100%;
}

#searchPanel {
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow: auto;
}


#listPanel {
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    
    background-color: white;
    overflow: auto;
}

#listPanel > div, #searchPanel > div {
    margin-left: 10px;
    margin-right: 10px;
}

#submitArea {
	margin-left: 10px;
	margin-top: 30px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-size: 13px;
    font-weight: bold;
}

.marker-cluster {
    background-color: white;
}

.marker-cluster div {
    color: white;
    font-weight: bold;
}

.popup-Title {
 font-weight: bold;   
}

.popup-Description {
 font-style: italic;   
}

.icon {
height: 48px;
width: 32px;
}

label {
display: inline;
margin-bottom: 0;
font-weight: normal;
}

.leaflet-popup-content p {
 text-align: left;   
}

.geosse-ClusterBullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-clip: padding-box;
}

.geosse-NominatimEntry {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 4px;
    margin-bottom: 10px;
}

.geosse-NominatimEntry:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

#currentNominatimEntry {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 4px;
    background-color: #f0f0f0;
}

.activeNominatimEntry {
	border-color: red;
}


/** 
 * Icone avec pictogramme
 * Pompé sur Umap
********************************************************** **/

.storage-drop-icon .icon_container {
    background-color: #2470B5;
    border-radius: 16px;
    box-shadow: 6px 13px 8px -4px #000;
    height: 32px;
    line-height: 32px;
    opacity: 0.9;
    text-align: center;
    width: 32px;
}

.storage-drop-icon .icon_arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #2270B5;
    height: 0px;
    left: 6px;
    position: relative;
    top: -4px;
    width: 0px;
}

.storage-drop-icon .icon_container img.picto-Unique {
    vertical-align: middle;
    max-width: 24px !important;
}